@use '../../assets/constants' as c;

@mixin rate($multiple){
  ::ng-deep{
    .view-swapper{
      width: 298px*$multiple;
      .mat-selection-list.selection-list-year{
        box-shadow: 0px 3px*$multiple 5px*$multiple rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
        border-radius: 3px*$multiple;
        .mat-list-option{
          height: 32px*$multiple;
          .list-item{
            @include c.robotoNormal_fs_ls_lh_fw(14px*$multiple,normal,20px*$multiple);
          }
        }
      }
      button[mat-stroked-button]{
        height: 32px*$multiple;
        margin: 8px*$multiple 0 3px*$multiple 0;
        box-shadow: 0px 2px*$multiple 0px rgba(0, 0, 0, 0.016);
        border-radius: 2px*$multiple;
        @include c.robotoNormal_fs_ls_lh_fw(14px*$multiple,normal,22px*$multiple);
      }
        // mód választó
        .mode-swapper{
          .mat-button-toggle-group{
            height: 32px*$multiple;
            .mat-button-toggle{
              @include c.robotoNormal_fs_ls_lh_fw(14px*$multiple,normal,22px*$multiple);
            }
            .mat-button-toggle:nth-child(1){
              border-radius: 2px*$multiple 0px 0px 2px*$multiple;
              min-width: 60px*$multiple;
            }
            .mat-button-toggle:nth-child(2){
              min-width: 95px*$multiple;
            }
            .mat-button-toggle:nth-child(3){
              min-width: 69px*$multiple;
              border-radius: 0px 2px*$multiple 2px*$multiple 0px;
            }
            .mat-button-toggle:nth-child(4){
              min-width: 74px*$multiple;
              border-radius: 0px 2px*$multiple 2px*$multiple 0px;
            }
          }
        }
      }
  }
}
@include rate(c.$datapickerRate_1946px);

@media (min-width:767px) {
  @include rate(c.$datapickerRate_1946px);
}
@media (min-width:992px) {
  @include rate(c.$datapickerRate_1946px);
}
@media (min-width:1200px) {
  @include rate(c.$datapickerRate_1200px)
}
@media (min-width:1400px) {
  @include rate(c.$datapickerRate_1400px)
}
@media (min-width:1946px) {
  @include rate(c.$datapickerRate_1946px)
}


::ng-deep{

.view-swapper{
  margin: auto;
  .mat-selection-list.selection-list-year{
    background: c.$Fehér;
    .mat-list-option{
      width: 100%;
      .list-item{
        color:c.$Sötétszürke;
      }
    }
    .mat-list-option.mat-list-single-selected-option{
      background-color: c.$Szürke;
    }
  }
  button[mat-stroked-button]{
    width: 100%;
    background: c.$Fehér;
    color: c.$VilágosSzürke;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    // mód választó
    .mode-swapper{
      .mat-button-toggle-group{
        width: 100%;
        flex-flow: row  nowrap;
        justify-content: center;
        border: none;
        border-radius: 0;
        .mat-button-toggle-checked.mat-button-toggle{
          border: 1px solid c.$Zöld;
          color: c.$Zöld;
        }
        .mat-button-toggle{
          background: c.$Fehér;
          color: c.$VilágosSzürke;
          box-sizing: border-box;
          border: 1px solid c.$VilágosSzürke;
          @include c.autoLayout(row);
        }
      }
    }
  }
}
.focus-button{
  border: 1px solid c.$Zöld;
  color: c.$Zöld !important;
}
