<section class="view-swapper">

  <section class="mode-swapper">
    <mat-button-toggle-group
    (change)="modevalueChange($event)"
    aria-label="Font Style"
    [value]="selectedViewName$ | async">
    <mat-button-toggle disableRipple value="Year">Év</mat-button-toggle>
    <mat-button-toggle disableRipple value="Month">Hónap</mat-button-toggle>
    <mat-button-toggle disableRipple value="Week">Hét</mat-button-toggle>
    <mat-button-toggle disableRipple value="Day">Nap</mat-button-toggle>
  </mat-button-toggle-group>
</section>

<button mat-stroked-button
  [value]="buttonFocused"
  (click)="buttonFocused=!buttonFocused"
  [ngClass]="{'focus-button':buttonFocused}"
>{{selectedYear$ |async}}</button>

<ng-container *ngIf="buttonFocused; then thenFocused"></ng-container>
<ng-template #thenFocused>
  <mat-selection-list
    class="selection-list-year"
    [multiple]="false"
    (selectionChange)="onSelectedYearChange($event)">
    <mat-list-option *ngFor="let year of (years$ | async)"
      [value]="year"
      [selected]="(selectedYear$|async)===year ? true : false">
      <span class="list-item">{{year}}</span>
    </mat-list-option>
  </mat-selection-list>
</ng-template>
</section>

