@use '../../assets/constants' as c;

@mixin rate($multiple){
  ::ng-deep{
    .today{
      width: 268px*$multiple;
      height: 20px*$multiple;
      @include c.robotoNormal_fs_ls_lh_fw(13px*$multiple,normal,20px*$multiple,normal);
      margin-left: 11px*$multiple;
      span:nth-child(1){
        margin: 0px 4px*$multiple;
      }

      span:nth-child(3){
        left: 210px*$multiple;
      }
      span:nth-child(4){
        left: 231px*$multiple;
      }
    }
    .events{
      margin: 0 0 7px*$multiple 0;
      .time-container{
        height: 16px*$multiple;
        margin-top: -3px*$multiple;
        padding-bottom: 3px*$multiple;
        .close{
          width: 8.75px*$multiple;
          height: 8.75px*$multiple;
          min-width: 8.75px*$multiple;
          .mat-icon{
            width: 16px*$multiple !important;
            font-size: 16px*$multiple !important;
            height: 16px*$multiple !important;
            line-height: 1;
          }
        }
        .time{
          margin-left: 16px*$multiple;
          margin-right: 7px*$multiple;
          @include c.interNormal_fs_ls_lh_fw(11px*$multiple,normal,16px*$multiple,600);
        }
      }
      .text{
        margin: 0 5px*$multiple 0 20px*$multiple;
        @include c.interNormal_fs_ls_lh_fw(12px*$multiple,normal,16px*$multiple,500);
      }
      .pictures{
        img{
          height: 25px*$multiple;
          width: 25px*$multiple;
          margin-left: 3px*$multiple;
        }
      }
    }

    .noEvents{
      width: 298px*$multiple;
      margin-top: 21px*$multiple;
      h1{
        @include c.robotoNormal_fs_ls_lh_fw(24px*$multiple,normal,28px*$multiple,bold);
        margin-bottom: 48px*$multiple;
      }
      img{
        width: 297px*$multiple;
        height: 233px*$multiple;
      }
    }
  }
}
@include rate(c.$datapickerRate_1946px);

@media (min-width:767px) {
  @include rate(c.$datapickerRate_1946px);
}
@media (min-width:992px) {
  @include rate(c.$datapickerRate_1946px);
}
@media (min-width:1200px) {
  @include rate(c.$datapickerRate_1200px)
}
@media (min-width:1400px) {
  @include rate(c.$datapickerRate_1400px)
}
@media (min-width:1946px) {
  @include rate(c.$datapickerRate_1946px)
}

::ng-deep{
  .today{
    color: c.$SötétZöld;
    position: relative;

    span:nth-child(1){
      font-weight: bold;
    }

    span:nth-child(3){
      font-weight: bold;
      margin: 0px 0px;
      color: c.$Szürke;
      position: absolute;
    }
    span:nth-child(4){
      margin: 0px 0px;
      color: c.$Szürke;
      font-family: Inter;
      position: absolute;
    }
  }
  .events{
    display: flex;
    flex-flow: column;
    .time-container{
      .close{
        color: c.$VilágosZöld;
        line-height: normal;
        padding: 0;
      }
      .time{
        display: inline-block;
        color: c.$VilágosZöld;
      }
    }
    .text{
      color: c.$Sötétszürke;
    }
    .pictures{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      img{
        border-radius: 50%;
      }
    }
  }

  .noEvents{
    h1{
      text-align: center;
      color: c.$SötétZöld;
    }
  }
}



