<section class="today">
  <span>
    {{dayName | uppercase}}
  </span>
  <span>
    {{date | date:'M/dd/yyyy'}}
  </span>
  <span>
    55°
  </span>
  <span>
    /40°
  </span>
</section>

<section *ngIf="selectEvents.length===0;then noEvents else haveEvents"></section>

<ng-template #noEvents>
  <section class="noEvents">
    <h1>
      Erre a napra nincs semmi teendőd!
    </h1>
    <img src="../../assets/nincsSemmi.png" alt="nincsSemmikép">
  </section>
</ng-template>

<ng-template #haveEvents>
  <section class="events" *ngFor="let event of selectEvents">
    <section class="time-container">
      <button mat-icon-button disableRipple class="close" >
        <mat-icon >close</mat-icon>
      </button>
      <section class="time">
        {{event.start | date:'h:mm a'}} -
        {{event.end === null ? (event.start | date:'h:mm a') : event.end | date:'h:mm a'}}
      </section>
      <button mat-icon-button disableRipple class="close" >
        <mat-icon >close</mat-icon>
      </button>
    </section>
    <section class="text">{{event.extendedProps.eventText}}</section>
    <section class="pictures">
      <section *ngFor="let people of event.extendedProps.peoples">
        <img src={{people.peopleUrl}} alt="pplimage">
      </section>
    </section>
  </section>
</ng-template>
