<mat-card class="onlyevents"
  [ngStyle]="{'top':(renderPoint_Y$|async)+'px' ,'left':(renderPoint_X$|async)+'px'}">
    <button mat-icon-button class="close" (click)=onClose()>
      <mat-icon >close</mat-icon>
    </button>
  <mat-card-content>
    <section class="event-box" *ngFor="let item of moreEventsModel.moreEvents"
      (click)="openEventWindow(item,$event)"
      [ngStyle]="{'background':item.event.backgroundColor ,
                  'border-color':item.event.borderColor,
                  'color':item.event.textColor}">
      {{item.event._def.title}}
    </section>
  </mat-card-content>
</mat-card>


-
