@use '../../assets/constants' as c;

::ng-deep{
  .mat-card.onlyevents{
    @include c.ZIndex(1);
    display: block !important;
    position: absolute;
    @include c.fonts1;
    background: c.$Sötétszürke;
    backdrop-filter: blur(81.5485px);
    border-radius: 13px ;
    width: 140px !important;
    color: c.$Fehér;
    min-height: 40px;
    padding: 26px 0 11px 0;
    transform: translate(calc(140px + 18px - 9px), calc(22px/2 - 25px));


    .close{
      width: 0px;
      height: 0px;
      top:-6px;
      right: 34px;
      position: absolute;
      }

    .mat-card-content{
      .event-box{
        width: 114px;
        height: 22px;
        background-color: c.$SötétZöld;
        margin:5px 12px 0px 14px;
        border-radius: 8px;
        padding-left: 5px;
      }
    }

    &::after, &::before{
      @include c.arrow;
      top: 16px;
    }
    &::before{
      top: 25px;
      transform: rotate(36deg)
    }
  }
}


