<mat-card class="onlyevents"
  [ngStyle]="{'top':renderPoint.y+'px' ,'left':renderPoint.x+'px'}">
    <button mat-icon-button class="close" (click)=close()>
      <mat-icon >close</mat-icon>
    </button>
  <mat-card-content>
    <section class="event-box" *ngFor="let item of openWindowInfo.plusEvents"
      (click)="openEventWindow(item,$event)"
      [ngStyle]="{'background':item.event.backgroundColor ,
                  'border-color':item.event.borderColor,
                  'color':item.event.textColor}">
      {{item.event._def.title}}
    </section>
  </mat-card-content>
</mat-card>


-
