<section class="events-view-container-child">
<section>
  <h1>
    <div class="line"></div>
    Események
    <div class="line line2"></div>
  </h1>
</section>

<section class="today">
  <span>
    TODAY
  </span>
  <span>
    {{currentDate | date:'M/dd/yyyy'}}
  </span>
  <span>
    55°
  </span>
  <span>
    /40°
  </span>
</section>
<section *ngIf="selectEvents.length===0;then noEvents else haveEvents"></section>
<ng-template #noEvents>
  <section class="noEvents">
    <h1>
      Erre a napra nincs semmi teendőd!
    </h1>
  </section>
</ng-template>
<ng-template #haveEvents>
  <section class="events" *ngFor="let event of selectEvents">
    <section class="time-container">
      <button mat-icon-button disableRipple class="close" >
        <mat-icon >close</mat-icon>
      </button>
      <section class="time">
        {{event.start}} - {{event.end}}
      </section>
      <button mat-icon-button disableRipple class="close" >
        <mat-icon >close</mat-icon>
      </button>
    </section>
    <section class="text">{{event.text}}</section>
    <section class="pictures">
      <section *ngFor="let people of event.peoples">{{people.peopleUrl}}</section>
    </section>
  </section>
</ng-template>






