@use '../../assets/constants' as c;


.events-view-container-from-child{
  width:301px ;
  margin-top: -10px;
  h1{
    @include c.robotoNormal_fs_ls_lh_fw(16px,normal,24px,normal);
    color: c.$SötétZöld;
    text-align: center;
    position: relative;
    margin: 0 0 26px 0;
    .line{
      position: absolute;
      width: 87.09px;
      height: 0px;
      left: calc(50% - 87.09px*3/2 - 7px);
      top: calc(50% - 0px/2);
      display: block;
      border: 0.933522px solid c.$VilágosZöld;
    }
    .line:nth-child(1){
      left: calc(50% + 87.09px/2 + 7px);
      top: calc(50% - 0px/2);
    }
  }
  .today{
    width: 268px;
    height: 20px;
    color: c.$SötétZöld;
    @include c.robotoNormal_fs_ls_lh_fw(13px,normal,20px,normal);
    margin-left: 11px;
    position: relative;

    span:nth-child(1){
      margin: 0px 4px;
      font-weight: bold;
    }

    span:nth-child(3){
      font-weight: bold;
      margin: 0px 0px;
      color: c.$Szürke;
      position: absolute;
      left: 210px;
    }
    span:nth-child(4){
      margin: 0px 0px;
      color: c.$Szürke;
      font-family: Inter;
      position: absolute;
      left: 231px;
    }
  }
  .events{
    display: flex;
    flex-flow: column;
    margin: 0 0 7px 0;
    .time-container{
      height: 16px;
      margin-top: -3px;
      padding-bottom: 3px;
      .close{
        width: 8.75px;
        height: 8.75px;
        color: c.$VilágosZöld;
        line-height: normal;
        min-width: 8.75px;
        padding: 0;
        .mat-icon{
          width: 16px !important;
          font-size: 16px !important;
          height: 16px !important;
          line-height: 1;
        }
      }
      .time{
        display: inline-block;
        margin-left: 16px;
        margin-right: 7px;
        @include c.interNormal_fs_ls_lh_fw(11px,normal,16px,600);
        color: c.$VilágosZöld;
      }
    }
    .text{
      margin: 0 5px 0 20px;
      @include c.interNormal_fs_ls_lh_fw(12px,normal,16px,500);
      color: c.$Sötétszürke;
    }
    .pictures{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      img{
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-left: 3px;
      }
    }
  }

  .noEvents{
    width: 298px;
    height: 56px;
    margin-top: 21px;
    h1{
      @include c.robotoNormal_fs_ls_lh_fw(24px,normal,28px,bold);
      text-align: center;
      color: c.$SötétZöld;
      margin-bottom: 48px;
    }
    img{
      width: 297px;
      height: 233px;
    }
  }
}



