<mat-card class="infowindow"
  [ngStyle]="{'top':renderPoint.y+'px' ,'left':renderPoint.x+'px'  }"
  [ngClass]="openPosition">
  <mat-card-title>
    <h1>{{event.title}}</h1>
      <button mat-icon-button
        class="delete"
        (click)="onDeleteWindowOpen()">
        <mat-icon >delete</mat-icon>
      </button>
      <button mat-icon-button
        class="edit"
        (click)="onStepperOpen()">
        <mat-icon >edit</mat-icon>
      </button>
  </mat-card-title>
  <mat-card-content>
        <section class="time-container">
          <span class="time">
            {{event.start | date:'HH:mm'}} -
            {{event.end === null ? (event.start | date:'HH:mm') : event.end | date:'HH:mm'}}
          </span>
          <span>
            {{event.start | date:'y.MM.dd'}}
          </span>
        </section>
        <section class="text-container">
          <div class="rectangle" [ngStyle]="{'background':event.backgroundColor}"></div>
          <section class="text">{{event.extendedProps.eventText}}</section>
        </section>
        <section class="pictures">
          <section
            *ngFor="let people of event.extendedProps.peoples">
            <img src="{{people.peopleUrl}}" alt="pplimage">
          </section>
        </section>
  </mat-card-content>
</mat-card>


<app-delete-event *ngIf="deleteWindow$ | async"
  [eventId]="openWindowInfo.id"
  (deletedEventId)="closeDeletetWindow($event)"
  [aktEvent]="openWindowInfo.calendarEvent">
</app-delete-event >



