
@use '../../assets/constants' as c;

::ng-deep{

  .event-window-open-up{

    transform: translate(calc(-456px/2 + 115px/2),calc(-212.91px - 23px));
    //         width/2 + Eventwidth/2, -height - Nyilheight
    &::after, &::before{
      content: "";
      position: absolute;
      width: 28px;
      height: 13px;
      left: calc(50% - 28px/2 - 4.4px);
      bottom: -11px;
      background: c.$Sötétszürke;
      backdrop-filter: blur(81.5485px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 13px;
      transform: rotate(54deg) ;
    }
    &::after{
      left: calc(50% - 28px/2 + 4.4px);
      transform: rotate(-54deg) ;
    }
  }
  .event-window-open-right{
    transform: translate(calc(140px + 18px - 14px),calc(-212.91px/2 + 22px/2));
    &::after, &::before{
      @include c.arrow;
      top: 97px;
    }
    &::before{
      top: 106px;
      transform: rotate(36deg)
    }
  }
  .mat-card.infowindow{
    @include c.ZIndex(2);
    @include c.fonts1;
    background: c.$Sötétszürke;
    color: c.$Fehér;
    box-sizing: border-box;
    position: absolute;
    backdrop-filter: blur(81.5485px);
    border-radius: 13px ;
    width: 456px !important;
    height: 212.91px !important;
    padding: 17px 0 0 0;

    .mat-card-title{
      position: relative;
      margin-bottom: 0;
      button{
        position: absolute;
        right: 0;
        top: -6px;
        &:nth-child(2){
          transform: translateX(-40px);
        }
      }
      h1{
        text-align: center;
        text-decoration-line: underline;
      }
    }

    .mat-card-content{
      margin:5px 14px 0 8.78px;
      .time-container{
        @include c.fonts1;
        position: static;
        width: 318px;
        height: 22px;
        left: 10px;
        top: 10px;
      }
    }
    .text-container{
      display: flex;
      flex-flow: row nowrap;
      margin-top: 6px;
      .rectangle{
        position: static;
        width: 24px;
        height: 24px;
        left: 10px;
        top: 10px;
        background: c.$SötétZöld;
        @include c.insideAutoLayout(0,0,10px,0,1.22px);

      }
      .text{
        margin: 0px;
        position: static;
        width: 398px;
        height: 66px;
        left: 44px;
        top: 10px;
        @include c.fonts1;
      }

    }
    .pictures{
      margin-left: 43.66px;
      display: flex;
      flex-flow: row wrap;
      .picture{
        border-radius: 100%;
        width: 25px ;
        height: 25px;
      }
    }

  }
}


