<mat-card class="infowindow"
  [ngStyle]="{'top':(renderPoint_Y$|async)+'px' ,'left':(renderPoint_X$|async)+'px'  }"
  [ngClass]="openPosition">
  <mat-card-title>
    <h1>{{selectedEvent.calendarEvent.title}}</h1>
      <button mat-icon-button
        class="delete"
        (click)="onDeleteWindowOpen()">
        <mat-icon >delete</mat-icon>
      </button>
      <button mat-icon-button
        class="edit"
        (click)="onStepperOpen()">
        <mat-icon >edit</mat-icon>
      </button>
  </mat-card-title>
  <mat-card-content>
        <section class="time-container">
          <span class="time">
            {{selectedEvent.calendarEvent.start | date:'HH:mm'}} -
            {{selectedEvent.calendarEvent.end === null ? (selectedEvent.calendarEvent.start | date:'HH:mm') : selectedEvent.calendarEvent.end | date:'HH:mm'}}
          </span>
          <span>
            {{selectedEvent.calendarEvent.start | date:'y.MM.dd'}}
          </span>
        </section>
        <section class="text-container">
          <div class="rectangle" [ngStyle]="{'background':selectedEvent.calendarEvent.backgroundColor}"></div>
          <section class="text">{{selectedEvent.calendarEvent.extendedProps.eventText}}</section>
        </section>
        <section class="pictures">
          <section
            *ngFor="let people of selectedEvent.calendarEvent.extendedProps.peoples">
            <img src="{{people.peopleUrl}}" alt="pplimage">
          </section>
        </section>
  </mat-card-content>
</mat-card>


<app-delete-event *ngIf="deleteWindow$ | async"
  [eventId]="selectedEvent.id"
  (deletedEventId)="closeDeletetWindow($event)"
  [aktEvent]="selectedEvent.calendarEvent">
</app-delete-event >



