@use '../../assets/constants' as c;

::ng-deep{
    .allin-container{
      display: flex;
      flex-flow: column nowrap;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top:0;
      min-width: 100vw;
      min-height: 100vh;
    }
    .main-container{
      box-sizing: border-box;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      .calendar-container{
        width: 1246px;

      }
    }
    header{
      box-sizing: border-box;
      width: 100%;
      min-height: 85px;
      background: c.$SötétZöld;
    }
    .left-side{
      display: flex;
      flex-flow: column;
      margin-left: 21px;
      margin-right: 15px;
    }
    .swapper{
      margin-top: 13px;
    }
    .events-view-parent{
      margin-left: 18px;
      margin-right: 23px;
    }
}
