@use '../../assets/constants' as c;

@mixin rate($multiple,$col){
  ::ng-deep{
    .main-calendar-body-from-child{
      .body-main-container{
        .calendar-container{
          width: (298px*$col + 18px*($col - 1))*$multiple;
        }
        .body-left-side{
          margin-bottom: 18px*$multiple;
          .view-swapper{
            margin-top: 8px*$multiple;
          }
        }
        .events-view{
          width:337px*$multiple;
        }
      }
    }
  }
}
@mixin eventsViewRate($multiple){
  ::ng-deep{
    .main-calendar-body-from-child{
      .body-main-container{
        .events-view{
          width:337px*$multiple;
        }
      }
    }
  }
}
@mixin bodyMainContainerFlexDirection($direction){
  ::ng-deep{
    .main-calendar-body-from-child{
      .body-main-container{
        flex-direction: $direction;
      }
    }
  }
}

::ng-deep{
  .main-calendar-body-from-child{
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top:0;
    min-width: 100%;
    min-height: 100vh;
    header{
      box-sizing: border-box;
      width: 100%;
      height: 85px;
      background: c.$SötétZöld;
    }
    .body-main-container{
      box-sizing: border-box;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      width: 100%;
      .calendar-container{
        margin: auto;
      }
      .body-left-side{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-flow: column;
      }
      .events-view{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
  @include rate(c.$datapickerRate_1946px,3);
  @include bodyMainContainerFlexDirection(column);
  @include eventsViewRate(c.$datapickerRate_1946px);
  @media (min-width:767px) {
    @include rate(c.$datapickerRate_767px,3);
    @include eventsViewRate(c.$datapickerRate_1946px);
  }
  @media (min-width:992px) {
    @include rate(c.$datapickerRate_992px,4);
    @include eventsViewRate(c.$datapickerRate_1946px);
  }
  @media (min-width:1200px) {
    @include rate(c.$datapickerRate_1200px,4);
    @include bodyMainContainerFlexDirection(row);

  }
  @media (min-width:1400px) {
    @include rate(c.$datapickerRate_1400px,4);

  }
  @media (min-width:1946px) {
    @include rate(c.$datapickerRate_1946px,4);
  }
