<section class="from-child-body">

  <header></header>

  <section class="body-main-container"
  [ngStyle]="{'padding-top':selectedView==='Year'?'59px':'120px'}">

    <section class="body-left-side">
      <app-mini-month-picker></app-mini-month-picker>
      <app-view-swapper
        class="swapper"
        [years]="years"
        (selectedYear)="selectedYearInit($event)"
        (selectedMode)="SelectedViewInit($event)">
      </app-view-swapper>
    </section>

    <section class="calendar-container" >
      <section *ngIf="'Year'=== selectedView">
        <app-year-view
          [year]="selectYear"
          (selectedDate)="selectedDateInit($event)"
          [years]="years"
        ></app-year-view>
      </section>
      <app-fullcalendar
        [ngStyle]="{'display': selectedView==='Year' ? 'none' : 'block'}"
        [selectedView]='selectedView'
        (calendarApiOut)="calendarApi=$event">
      </app-fullcalendar>
    </section>
<!--
  <app-events-view [selectedDate]="selectedDate" class="events-view"></app-events-view>
-->
    <app-events-view-section
      [selectedDate]="selectedDate"
      class="events-view"
      [calendarApi]="calendarApi"></app-events-view-section>

  </section>

</section>
