<section class="main-calendar-body-from-child">

  <header></header>

  <section class="body-main-container"
  [ngStyle]="{'padding-top':(selectedViewName$ | async)==='Year'?'59px':'120px'}">

    <section class="body-left-side">
      <app-mini-month-picker></app-mini-month-picker>
      <app-view-swapper
        class="view-swapper"
      >
      </app-view-swapper>
    </section>

    <section class="calendar-container"
    [ngClass]="{'month-view-height': (selectedViewName$ | async)==='Month'? true:false}"
    >
      <section *ngIf="'Year'=== (selectedViewName$ | async)">
        <app-year-view></app-year-view>
      </section>
      <app-fullcalendar
        [ngStyle]="{'display': (selectedViewName$ | async)==='Year' ? 'none' : 'block'}"
        (eventsOut)="events=$event">
      </app-fullcalendar>
    </section>
<!--
  <app-events-view [selectedDate]="selectedDate" class="events-view"></app-events-view>
-->

    <app-events-view-section
      [selectedDate]="selectedDate"
      class="events-view"
      [events]=events>
    </app-events-view-section>


  </section>
</section>
