<header></header>
<section class="big-container">

  <app-datepicker-multiple-view
    [years]="years"
    (selectedYear)="selectedYearInit($event)"
    (selectedMode)="SelectedViewInit($event)"
    >
  </app-datepicker-multiple-view>

<section [ngSwitch]="selectedView">
  <section *ngSwitchCase="'Year'">
    <app-datepicker-all-month
      [year]="selectYear"
      (selectedDate)="selectedDateInit($event)"
      [years]="years"
    ></app-datepicker-all-month>
  </section>
  <section *ngSwitchCase="'Month'">
  <app-calendar></app-calendar>
  </section>
</section>




  <app-events-view [selectedDate]="selectedDate"></app-events-view>


</section>
