@use '../../assets/constants' as c;

@mixin rate($multiple){
  ::ng-deep{
    .year-view-month-element{
      margin: 0 2px*$multiple 7px*$multiple 2px*$multiple;
    }
  }
}

@include rate(c.$datapickerRate_1946px);



::ng-deep{
  .year-view-container-from-child{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}


