@use '../../assets/constants' as c;

.mat-calendar{
  width: 298px;
}

::ng-deep{
  .datepicker-month{
    .mat-calendar-content{
      background-color: c.$VilágosZöld;
      padding: 5px;
    }
    td.mat-calendar-body-label[colspan="7"] {
      display: none;
    }
    .mat-calendar-body-label{
      opacity: 0;
    }
    .mat-card{
      padding: 0px !important;
      margin-bottom: 7px;
    }

  }

}

