<section [ngClass]="fullCalendarViewController.fullcalendarClassContainer">

<section *ngIf="fullCalendarViewController.fullcalendarClassContainer['fullcalendar-day-view-container']">
  <div class="arrow-btn">
    <button mat-icon-button
    class=""
    (click)="nextDay()">
    <mat-icon >forward</mat-icon>
    </button>
  </div>
  <div class="arrow-btn arrow-btn-left">
    <button mat-icon-button
    class=""
    (click)="backDay()">
    <mat-icon >forward</mat-icon>
    </button>
  </div>
</section>

  <full-calendar
    #calendar
    [options]="calendarOptions"
  >
  </full-calendar>

  <section class="background-cells" *ngIf="!fullCalendarViewController.fullcalendarClassContainer['fullcalendar-month-view-container']">
     <div *ngFor="let col of numSequence(8);index as i" class="col">
       <div *ngFor="let row of numSequence(48);index as j"
        class="row">
        <div *ngIf="i===0 && j%2===0">
          {{col}} PM
        </div>
        <div *ngIf="i===0 && j===47">
          {{col}} PM
        </div>
      </div>
    </div>
  </section>


</section>
<span *ngIf="fullCalendarViewController.eventwindow;then eventWindowOpen"></span>
<ng-template #eventWindowOpen>
  <app-event-window
    [openWindowInfo]="selectEvent"
    (closeEventWindow)="closeDeleteWindow($event)"
  ></app-event-window>
</ng-template>

<span *ngIf="fullCalendarViewController.moreEventWindow;then moreEventWindowOpen"></span>
<ng-template #moreEventWindowOpen>
  <app-more-event-window
    (selectedEvent)="eventInfoFromMoreEventWindow($event)"
    [openWindowInfo]="moreEventWindowInfo"
    (closeBtnClick)="fullCalendarViewController.moreEventWindow=false"
    ></app-more-event-window>
</ng-template>



