@use '../../assets/constants' as c;

$monthViewTdmarginy:3.5px;
$monthViewTdmarginx:9px;
$dayAndWeekviewLeftMargin:48px;


@mixin dayAndWeekViewRate($multiple){
  ::ng-deep{
    .fullcalendar-day-view-container, .fullcalendar-week-view-container{
      width: 1222px*$multiple;
      margin-top: -105px*$multiple;
    }
    .fullcalendar-day-view-container, .fullcalendar-week-view-container{
      margin-left:  $dayAndWeekviewLeftMargin*$multiple;
// 2 Arrow  ---------------------------------------------------
      .arrow-btn{
        height: 80px*$multiple;
        width: 80px*$multiple;
        top: 16px;
        left: calc(50% - 7px*#{$multiple}*#{$multiple}*#{$multiple} + 2px + 146px*#{$multiple});
        .mat-icon-button{
          span.mat-button-wrapper{
            .mat-icon{
              height: 48px*$multiple !important;
              width: 48px*$multiple !important;
              font-size: 48px*$multiple !important;
              line-height: 48px*$multiple !important;
            }
          }
        }
      }
      .arrow-btn.arrow-btn-left{
        left: calc(50% - 7px*#{$multiple}*#{$multiple}*#{$multiple} + 2px - 146px*#{$multiple});
      }
//----------------------------------------------------------------------------
      .fc{
        width: 1222px*$multiple;
        table{
          border-spacing: 18px*$multiple 0;
        }
        .fc-timegrid-col-events{
          margin: 2px*$multiple 1.17px*$multiple 0 1.26px*$multiple;
        }
//   heti napi nézet----------------------------------------------------------------------------
        .fc-view-harness {
          height: 1200px*$multiple;
          .fc-timeGridDay-view, .fc-timeGridWeek-view{
            .fc-scrollgrid-section{
              height: 17px*$multiple;
            }
            .fc-scrollgrid-section.fc-scrollgrid-section-header{
              .fc-col-header{
                th.fc-col-header-cell{
                  .fc-scrollgrid-sync-inner{
                    height: 72px*$multiple;
                    width: 140px*$multiple;
                    a{
                      @include c.chivoNormal_fs_ls_fw(17.7931px*$multiple,0.741379px*$multiple,normal);
                    }
                  }
                }
                th.fc-col-header-cell:nth-child(2){
                  .fc-scrollgrid-sync-inner{
                    border-radius: 50px*$multiple;
                  }
                }
              }
            }
            .fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid{
              td{
                table{
                  tbody{
                    line-height: 25px*$multiple;
                    tr{
                      height: 25px*$multiple ;
                      .fc-timegrid-slot{
                        height: 25px*$multiple ;
                        line-height: 25px*$multiple ;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .fc-timegrid-event-harness.fc-timegrid-event-harness-inset {
          margin-bottom: 3px*$multiple;
          border-left-width: 8px*$multiple !important;
          a.fc-timegrid-event.fc-v-event.fc-event{
            .fc-event-main{
              .fc-event-main-frame{
                .fc-event-title-container{
                  width: 62%;
                  .fc-event-title.fc-sticky{
                    margin-left: 16px*$multiple;
                    @include c.chivoNormal_fs_ls_fw(12px*$multiple,0.4px*$multiple,normal);
                  }
                }
                .fc-event-time{
                  width: 38%;
                  margin-right: 6px*$multiple;
                  @include c.chivoNormal_fs_ls_fw(9px*$multiple,0.4px*$multiple,normal);
                  line-height: 20px*$multiple;
                }
              }
            }
          }
        }
      }
//-------------------------háttér--------------------------------
      .background-cells{
        .col{
          height: 1200px*$multiple;
          .row{
            height: 25px*$multiple;
            border: 0.74px solid #B1DDC4 !important;
          }
          .row:nth-child(2n+1){
            border-bottom: 1px*$multiple solid rgba(177, 221, 196, 0.4) !important;
          }
          .row:nth-child(2n){
            border-top: 1px*$multiple solid rgba(177, 221, 196, 0.4) !important;
          }
          .row:first-child{
            border-top: 0.74px*$multiple solid #B1DDC4 !important;
          }
          .row:last-child{
            border-bottom: 0.74px*$multiple solid #B1DDC4 !important;
          }

        }
        .col:nth-child(1){
          transform: translateY(-12.5px*$multiple);
          min-width: 51px*$multiple !important; // 31 volt
          .row{
            @include c.robotoNormal_fs_ls_lh_fw(13px*$multiple,normal,16px*$multiple,500);
          }
          .row:last-child{
            transform: translateY(25px*$multiple);
          }
        }
      }
    }
  }
}

@mixin manualBackgroundWidth_992px(){
  ::ng-deep{
    .fullcalendar-day-view-container, .fullcalendar-week-view-container{
      .background-cells{
        left: 32.863px;
        top: 77.137px;
        .col{
          min-width: 82.719px;
          margin-left: 12.3px;
        }
      }
    }
  }
}
@mixin manualBackgroundWidth_1200px(){
  ::ng-deep{
    .fullcalendar-day-view-container, .fullcalendar-week-view-container{
      .background-cells{
        left: 32.863px;
        top: 77.137px;
        .col{
          min-width: 82.719px;
          margin-left: 12.3px;
        }
      }
    }
  }
}

@mixin manualBackgroundWidth_1400px(){
  ::ng-deep{
    .fullcalendar-day-view-container, .fullcalendar-week-view-container{
      .background-cells{
        left: 31.863px;
        top: 85.137px;
        .col{
          min-width: 97.719px ;
          margin-left: 14.3px;
        }
      }
    }
  }
}


@mixin manualBackgroundWidth_1946px(){
  ::ng-deep{
    .fullcalendar-day-view-container, .fullcalendar-week-view-container{
      .background-cells{
        left: 29px;
        top: 110px;
        .col{
          min-width: 140px ;
          margin-left:18px;
        }
      }
    }
  }
}

@mixin DayAndWeekViewContainerLess1200px(){
  ::ng-deep{
    .fullcalendar-day-view-container, .fullcalendar-week-view-container{
      margin:10px auto 0 auto;
      transform: translateX(-29px);
      height: 1000px;
    }
  }
}
@mixin DayAndWeekViewContainerLess992px(){
  ::ng-deep{
    .fullcalendar-day-view-container, .fullcalendar-week-view-container{
      transform: translateX(-104px);
    }
  }
}

@mixin eventAddIconByRate($multiple){
  ::ng-deep{
    .event-plus-icon{
      border-radius: 50%;
      cursor: pointer;
      width: 20px*$multiple !important;
      height: 20px*$multiple !important;
      font-size: 20px*$multiple !important;
      line-height: 20px*$multiple !important;
      margin-right: 13px*$multiple !important;
      & *{
        width: 24px*$multiple !important;
        height: 24px*$multiple !important;
        font-size: 24px*$multiple !important;
        line-height: 24px*$multiple !important;
        color:c.$Szürke;
        transform: translate(-2px, -2px );
        pointer-events: none;
      }
    }
  }
}

@mixin monthViewHeader($multiple){
  .fc-header-toolbar{
    height: 64px*$multiple;
    background: c.$VilágosZöld;
    margin-left: 16px*$multiple + $monthViewTdmarginx*$multiple;
    margin-bottom: 24px*$multiple - $monthViewTdmarginy*$multiple !important;
    margin-right: $monthViewTdmarginx*$multiple;
    transform: translateY(72px*$multiple);
    .fc-toolbar-chunk{
      .fc-toolbar-title{
        @include c.robotoNormal_fs_ls_lh_fw(24px*$multiple,normal,24px*$multiple,normal);
        color: c.$SötétZöld;
      }
      h2.fc-toolbar-title[--nth-word="1"]{
        @include c.robotoNormal_fs_ls_lh_fw(32px*$multiple,normal,32px*$multiple,900);
      }/*valamiért nem jó*/
    }
  }
  .fc-dayGridMonth-view{
    table{
      border: none;
      .fc-scrollgrid-section.fc-scrollgrid-section-header {
        transform: translateY(-107px*$multiple);
        margin-left: $monthViewTdmarginx*$multiple;
        margin-right: $monthViewTdmarginx*$multiple;
        .fc-col-header{
          tbody{
            height: 72px*$multiple;
            tr{
              th:nth-child(1){
                .fc-scrollgrid-sync-inner{
                background-color: c.$VilágosZöld;
                border-radius: 50px*$multiple;
              }
            }
          }
            .fc-scrollgrid-sync-inner{
              height: 72px*$multiple;
              width: 140px*$multiple;
              display: flex;
              flex-flow: row wrap;
              justify-content: center;
              align-items: center;
              margin: 0 7.41379px*$multiple;
              a{
                @include c.chivoNormal_fs_ls_fw(17.7931px*$multiple,0.741379px*$multiple,normal);
                color: c.$SötétZöld;
              }
            }
          }
        }
      }
    }
  }
}

@mixin monthViewCell($multiple){
  .fc-dayGridMonth-view{
    .fc-daygrid-day-frame{
    background-color: c.$VilágosSzürke;
    min-height: 115px*$multiple;
    position: relative;
    }
    .fc-day-other{
      .fc-daygrid-day-frame{
        .fc-daygrid-day-top{
          opacity: 1;
          display: flex;
          flex-flow: row nowrap ;
          justify-content: space-between;
          height: 20px*$multiple ;
          margin-bottom: 6px*$multiple;
          margin-top: 6px*$multiple;
          padding: 0;
          a{
            color: c.$Fekete !important;
          }
        }
        background-color: c.$Neutral;
      }
    }
  }
  .fc-dayGridMonth-view{
    tbody{
      tbody{
        tr{
          td{
            padding: $monthViewTdmarginy*$multiple $monthViewTdmarginx*$multiple;
            .dayButton{
              position: absolute;
              height: 0;
              width: 0;
              display: none;
            }
            .fc-daygrid-day-frame{
              .fc-daygrid-day-top{
                display: flex;
                flex-flow: row nowrap ;
                justify-content: space-between;
                @include c.robotoNormal_fs_ls_lh_fw(14px*$multiple,normal,22px*$multiple,normal);
                color: c.$Fekete !important;
                height: 20px*$multiple ;
                margin-bottom: 6px*$multiple;
                margin-top: 6px*$multiple;
                padding: 0;
                a{
                margin: 0 10px*$multiple
                }
              }
            }
          }
        }
      }
    }
  }
}
@mixin monthViewEvents($multiple){
  .fc-daygrid-day-events{
    height: 76px*$multiple !important;
    .fc-daygrid-event-harness{
      height: 22px*$multiple + 5px*$multiple; //22+5/2 <= 5 px táv a sorok közt
      .fc-daygrid-event.fc-event-end{
        margin-left: 0px;
        margin-right: 9px*$multiple;
        border-radius: 0px 8px*$multiple 8px*$multiple 0px;
        pointer-events: auto;
      }
      .fc-daygrid-event.fc-event-start{
        margin-left: 9px*$multiple;
        margin-right: 0px;
        border-radius: 8px*$multiple 0 0px 8px*$multiple;
        padding-left: 5px*$multiple;
        pointer-events: auto;
      }
      .fc-daygrid-event.fc-event-start.fc-event-end{
        margin-right: 9px*$multiple;
        margin-left: 9px*$multiple;
        border-radius: 8px*$multiple;
        padding-left: 5px*$multiple;
        pointer-events: auto;
      }
      .fc-daygrid-block-event{
        pointer-events: auto !important;
      }
        .fc-daygrid-event{  // a
        padding-left: 15px*$multiple;
        //width:114px;
        height: 22px*$multiple;
        border-radius: 0px;
        margin-top: 0px;
        pointer-events: auto;
        cursor: pointer;
        .fc-event-resizer.fc-event-resizer-end{
          pointer-events: none ;
        }
        .fc-event-main{
          color: c.$Fehér; // így lesz felülírható a fullcalenderes szinekkel
          pointer-events: none ;
          //width:114px;
          height: 22px*$multiple;
          padding: 5px*$multiple 5px*$multiple 5px*$multiple 0;
          .fc-event-main-frame{
            height: 12px*$multiple;
            pointer-events: none;
            .fc-event-title-container{
              height: 12px*$multiple;
              pointer-events: none;
              .fc-event-title{
                padding: 0;
                height: 12px*$multiple;
                @include c.robotoNormal_fs_ls_lh_fw(12px*$multiple,normal,12px*$multiple);
                pointer-events: none;
              }
            }
          }
        }
      }
    }
      .fc-daygrid-day-bottom{
        padding: 0 0 0 0;
        .fc-daygrid-more-link{
          display: block;
          margin-left: 9px*$multiple;
          margin-right: 9px*$multiple;
          background: c.$VilágosSzürke;
          border-radius: 8px*$multiple;
          box-shadow: inset 0px 2px*$multiple 0px #F0F0F0;
          padding: 3.5px*$multiple 8px*$multiple 0px;
          height: 22px*$multiple;
          font-weight: 500;
          font-size: 12px*$multiple;
          line-height: 12px*$multiple;
          padding-left: 5px*$multiple;
          color: c.$Szürke;
          border: 2px*$multiple solid c.$Szürke;
      }
    }
  }
}

@mixin monthView($multiple){
  @include eventAddIconByRate($multiple);
  ::ng-deep{
    .fullcalendar-month-view-container{
      width: 1222px*$multiple;
      margin-top: -105px*$multiple;
      margin-left: $dayAndWeekviewLeftMargin*$multiple + 31px;
      .fc-scrollgrid-sync-table{
        height: 732px*$multiple !important; // kissebnek kell lenni mint a kis cellák magassága eggyütt v egyenlő
        width: 1106px*$multiple !important; // a meghatározó szélesség
        .fc-daygrid-day.fc-day-today{
          background: none ;
        }
      }
      .fc-theme-standard td, .fc-theme-standard th{
        border: none !important;
      }
      .fc{
        // height számítás !!!! KELL
        margin:  22px*$multiple + 21px*$multiple auto 0 auto;
        width: 1088px*$multiple + $monthViewTdmarginx*2*$multiple; // ==!!!! a tablek szélességével
        .fc-popover{
          visibility: hidden;
        }
        @include monthViewHeader($multiple);
        @include monthViewCell($multiple);
        @include monthViewEvents($multiple)
      }
    }
  }
}
@mixin monthViewSizeAndPozitionLess1200px($multiple){
  ::ng-deep{
    .fullcalendar-month-view-container{
      margin-top: 40px;
      .fc-scrollgrid-sync-table{
        height: 732px*$multiple !important; // kissebnek kell lenni mint a kis cellák magassága eggyütt v egyenlő
        width: 1106px*$multiple !important; // a meghatározó szélesség
      }
      .fc{
        // height számítás !!!! KELL
        margin:  0 auto 0 auto;
        width: 1088px*$multiple + $monthViewTdmarginx*2*$multiple; // ==!!!! a tablek szélességével
      }
    }
  }
}
@mixin monthMarginAndWidthLess992px(){
::ng-deep{
  .fullcalendar-month-view-container{
    margin-left: 0;
    width: 734.546px;
    }
  }
}

@include dayAndWeekViewRate(c.$datapickerRate_1400px);
@include manualBackgroundWidth_1400px();
@include DayAndWeekViewContainerLess1200px();
@include DayAndWeekViewContainerLess992px();
@include monthView(c.$datapickerRate_1400px);
@include monthViewSizeAndPozitionLess1200px(c.$datapickerRate_1400px);

@media (min-width:767px) {
  @include dayAndWeekViewRate(c.$datapickerRate_1400px);
  @include manualBackgroundWidth_1400px();
  @include DayAndWeekViewContainerLess1200px();
  @include DayAndWeekViewContainerLess992px();
  @include monthView(c.$datapickerRate_1200px);
  @include monthViewSizeAndPozitionLess1200px(c.$datapickerRate_1200px);
  @include monthMarginAndWidthLess992px();

}
@media (min-width:992px) {
  @include dayAndWeekViewRate(c.$datapickerRate_1400px);
  @include manualBackgroundWidth_1400px();
  @include DayAndWeekViewContainerLess1200px();
  @include monthView(c.$datapickerRate_1400px);
  @include monthViewSizeAndPozitionLess1200px(c.$datapickerRate_1400px);

}
@media (min-width:1200px) {
  @include dayAndWeekViewRate(c.$datapickerRate_1200px);
  @include manualBackgroundWidth_1200px();
  @include monthView(c.$datapickerRate_1200px);

}
@media (min-width:1400px) {
  @include dayAndWeekViewRate(c.$datapickerRate_1400px);
  @include manualBackgroundWidth_1400px();
  @include monthView(c.$datapickerRate_1400px);


}
@media (min-width:1946px) {
  @include dayAndWeekViewRate(c.$datapickerRate_1946px);
  @include manualBackgroundWidth_1946px();
  @include monthView(c.$datapickerRate_1946px);

}


::ng-deep{
  .fullcalendar-day-view-container, .fullcalendar-week-view-container{
    position: relative;
  }
  .fullcalendar-week-view-container, .fullcalendar-month-view-container{
    .event-text-container{
      display: none;
    }
  }
  // event szöveg day nézetbe  ---------------------------------------------------

  .fullcalendar-day-view-container{
  .fc-event-main{
    cursor: pointer;
    position: relative;
    .event-text-container{
      pointer-events: none;
      position: absolute;
      border-radius: 5px;
      height: 75%;
      width: 98%;
      top:20%;
      left: 1%;
      background-color: #B1DDC4;
      .mat-icon{
        position: relative;
        top: 12px;
        left: calc(100% - 15.17px - 11.18px);
        width: 14px !important;
        height: 14px !important;
        line-height: 14px !important;
        font-size: 14px !important;
        transform: scaleY(1.25);
        color: #006633;
      }
      .mat-icon:nth-child(2){
        transform: scaleY(1.25) translateX(-33px);

      }
      .event-text{
        width: 93.5%;
        margin-left: 1.5%;
        margin-top: 14.88px;
        color: #006633;

      }
    }
  }
}
//---------------------------------------------------

  .fullcalendar-day-view-container, .fullcalendar-week-view-container{

// 2 Arrow  ---------------------------------------------------
    .arrow-btn{
      @include c.ZIndex(100);
      position: absolute;
      background: #006633;
      border-radius: 50%;
      .mat-icon-button{
        width: inherit;
        height: inherit;
        span.mat-button-wrapper{
          .mat-icon{
            color: white;
          }
        }
      }
    }
    .arrow-btn.arrow-btn-left{
      .mat-icon-button{
        width: inherit;
        height: inherit;
        span.mat-button-wrapper{
          .mat-icon{
            transform: rotate(180deg);
          }
        }
      }
    }
//----------------------------------------------------------------------------
    .fc{
      *{
        border: none !important;
      }
      table{
        border-collapse: unset;
      }
      .fc-timegrid-col.fc-day-today{
        background-color: inherit !important;
      }
      .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr{
        .fc-toolbar-chunk{
          display: none;
        }
      }
//   heti napi nézet----------------------------------------------------------------------------
      .fc-timeGridDay-view, .fc-timeGridWeek-view{
        .fc-scrollgrid-section{
          visibility: hidden;
        }
        .fc-scrollgrid-section.fc-scrollgrid-section-header{
          visibility:visible;
          .fc-col-header{
            th.fc-col-header-cell{ //.fc-col-header-cell
              .fc-scrollgrid-sync-inner{
                margin:auto ;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                a{
                  color: c.$SötétZöld;
                }
              }
            }
            th.fc-col-header-cell:nth-child(2){
              .fc-scrollgrid-sync-inner{
                background-color: c.$VilágosZöld;
              }
            }
          }
        }
        .fc-scrollgrid-section.fc-scrollgrid-section-body{
          display: none;
        }
        .fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid{
          visibility:visible;
          display: table-row;
          td{
            table{
              tbody{
                tr{
                  td:nth-child(1){
                    visibility: hidden;
                  }
                }
              }
            }
          }
        }
      }
      .fc-timegrid-event-harness.fc-timegrid-event-harness-inset {
        border-style: solid !important;
        border-color: #28A138 !important;
        border-top-width: 0px !important;
        border-bottom-width: 0px !important;
        border-right-width: 0 !important;
        outline: none;
        border-radius: 0px !important;
        a.fc-timegrid-event.fc-v-event.fc-event{
          box-shadow: none;
          margin-bottom: 0;
          border-radius: 0;
          background-color: rgba(40, 161, 56, 0.4) !important;
          .fc-event-main{
            cursor: pointer;
            .fc-event-main-frame{
              pointer-events: none;
              flex-direction: row-reverse !important;
              opacity: 1;
              .fc-event-title-container{
                .fc-event-title.fc-sticky{
                  text-align:left;
                  color: c.$Grey7;
                  opacity: 0.88;
                }
              }
              .fc-event-time{
                pointer-events: none;
                text-align: right;
                color: #4F4F4F;
                opacity: 0.48;
              }
            }
          }
        }
      }
    }
//-------------------------háttér--------------------------------
    .background-cells{
      z-index: -1;
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      box-sizing: border-box;
      .col{
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        .row{
          box-sizing: border-box;
        }
      }
      .col:nth-child(1){
        margin-left: 0;
        .row{
          border: none !important;
          justify-content: center;
          display: flex;
          align-items: center;
          color: c.$SötétZöld;
        }
      }
    }
  }
}

