<section [ngClass]="fullCalendarViewController.fullcalendarClassContainer">
  <section *ngIf="fullCalendarViewController.fullcalendarClassContainer['fullcalendar-day-view-container']">
    <div class="arrow-btn">
      <button mat-icon-button
      class=""
      (click)="nextDay()">
      <mat-icon >forward</mat-icon>
      </button>
    </div>
    <div class="arrow-btn arrow-btn-left">
      <button mat-icon-button
      class=""
      (click)="backDay()">
      <mat-icon >forward</mat-icon>
      </button>
    </div>
  </section>

  <full-calendar
    #calendar
    [options]="calendarOptions">
  </full-calendar>

  <section class="background-cells" *ngIf="!fullCalendarViewController.fullcalendarClassContainer['fullcalendar-month-view-container']">
     <div *ngFor="let col of numSequence(8);index as i" class="col">
       <div *ngFor="let row of numSequence(48);index as j"
        class="row">
        <div *ngIf="i===0 && j%2===0">
          {{col}} PM
        </div>
        <div *ngIf="i===0 && j===47">
          {{col}} PM
        </div>
      </div>
    </div>
  </section>

</section>


<app-event-window *ngIf="(eventWindow$|async)"
  [selectedEvent]="selectEvent"
  (closeEventWindow)="onCloseDeleteWindow($event)"
></app-event-window>


<app-more-event-window *ngIf="(moreEventWindow$|async)"
  (selectedEvent)="eventInfoFromMoreEventWindow($event)"
  [moreEventsModel]="moreEventsModel"
></app-more-event-window>



<app-stepper *ngIf="(stepperWindow$|async)"></app-stepper >


