@use '../../assets/constants' as c;

$tdmarginy:3.5px;
$tdmarginx:9px;

::ng-deep{
  .fullcalendar-day-view-container{
    position: relative;
    margin: auto;
    width: 1222px;
    .arrow-btn{
      @include c.ZIndex(100);
      height: 80px;
      width: 80px;
      position: absolute;
      top: 16px;
      left: 752px;
      background: #006633;
      border-radius: 50%;
      .mat-icon-button{
        width: inherit;
        height: inherit;
        span.mat-button-wrapper{
          .mat-icon{
            height: 48px !important;
            width: 48px !important;
            font-size: 48px !important;
            line-height: 48px !important;
            color: white;
          }
        }
      }
    }
    .arrow-btn.arrow-btn-left{
      top: 16px;
      left: 449px;
      .mat-icon-button{
        width: inherit;
        height: inherit;
        span.mat-button-wrapper{
          .mat-icon{
            transform: rotate(180deg);
          }
        }
      }
    }
    .fullcalendar-day-view.fc{
      width: 1222px;
      *{
        border: none !important;
      }
      table{
        border-collapse: unset;
        border-spacing: 18px 0;
      }
      .fc-timegrid-col-events{
        margin: 2px 1.17px 0 1.26px;
      }
      .fc-timegrid-col.fc-day-today{
        background-color: inherit !important;
      }
      .fc-view-harness.fc-view-harness-active{
        .fc-timegrid.fc-timeGridDay-view.fc-view{
          table.fc-scrollgrid.fc-scrollgrid-liquid{
            thead{
              tr{
                table{
                  tbody{
                    tr{
                      th{
                        .fc-scrollgrid-sync-inner{
                          height: 72px;
                          width: 156px;
                          margin:auto !important;
                          display: flex;
                          flex-flow: row wrap;
                          justify-content: center;
                          align-items: center;

                          a{
                            @include c.fonts4;
                            color: c.$SötétZöld;
                          }
                        }

                      }
                      th:nth-child(2){
                        .fc-scrollgrid-sync-inner{
                          background-color: c.$VilágosZöld;
                          border-radius: 50px;
                        }
                      }
                    }
                  }
                }
              }
            }
            tbody{
              tr.fc-scrollgrid-section:nth-child(3){
                td{
                  table{
                    tbody{
                      tr{
                        height: 25px;
                        td:nth-child(1){
                          visibility: hidden;
                        }
                      }
                    }
                  }
                }

              }
              tr.fc-scrollgrid-section:nth-child(2){
                height: 17px;
                visibility: hidden;
              }
              tr.fc-scrollgrid-section:nth-child(1){
                display: none;

              }
            }
          }
        }
      }


      .fc-timegrid-event-harness.fc-timegrid-event-harness-inset {
        margin-bottom: 3px;
        border-style: solid !important;
        border-color: #28A138 !important;
        border-left-width: 8px !important;
        border-top-width: 0px !important;
        border-bottom-width: 0px !important;
        border-right-width: 0 !important;
        outline: none;
        border-radius: 0px !important;
        a.fc-timegrid-event.fc-v-event.fc-event{

          box-shadow: none;
          margin-bottom: 0;
          border-radius: 0;

          background-color: rgba(40, 161, 56, 0.4) !important;
          .fc-event-main{
            position: relative;
            .event-text-container{
              position: absolute;
              border-radius: 6px;
              height: 75%;
              width: 98%;
              top:20%;
              left: 1%;
              background-color: #B1DDC4;
              .event-text{
                width: 93.5%;
                margin-left: 1.5%;
                margin-top: 3%;
                color: #006633;

              }
            }
            .fc-event-main-frame{
              flex-direction: row-reverse !important;
              opacity: 1;
              .fc-event-title-container{
                width: 62%;
                .fc-event-title.fc-sticky{
                  text-align:left;
                  margin-left: 17px;
                  font-family: Chivo;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  //line-height: 30px;
                  /* or 250% */
                  letter-spacing: 0.4px;

                  /* Neutral / Grey 7 */

                  color: #2D2F30;

                  opacity: 0.88;
                }
              }
              .fc-event-time{
                width: 38%;
                margin-right: 6px;
                text-align: right;
                font-family: Chivo;
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                //line-height: 20px;
                /* or 222% */

                letter-spacing: 0.4px;

                /* Neutral / Grey 6 */

                color: #4F4F4F;

                opacity: 0.48;
              }
        }
          }
        }
      }
    }
//-------------------------háttér--------------------------------
    .background-cells{
      z-index: -1;
      position: absolute;
      left: 29px;
      top: 110px;
      display: flex;
      flex-flow: row nowrap;
      box-sizing: border-box;
      .col{
        box-sizing: border-box;
        min-width: 140px !important;
        margin-left:18px;
        height: 1200px;
        display: flex;
        flex-flow: column nowrap;
        .row{
          box-sizing: border-box;
          height: 25px;
          border: 0.74px solid #B1DDC4 !important;
        }
        .row:nth-child(2n+1){
          border-bottom: 1px solid rgba(177, 221, 196, 0.4) !important;
        }
        .row:nth-child(2n){
          border-top: 1px solid rgba(177, 221, 196, 0.4) !important;
        }
        .row:first-child{
          border-top: 0.74px solid #B1DDC4 !important;
        }
        .row:last-child{
          border-bottom: 0.74px solid #B1DDC4 !important;
        }
      }
      .col:nth-child(2){
      }
      .col:nth-child(1){
        margin-left: 0;
        transform: translateY(-12.5px);
        min-width: 51px !important; // 31 volt
        .row{
          border: none !important;
          justify-content: center;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
          /* identical to box height, or 123% */

          display: flex;
          align-items: center;
          /* SötétZöld */

          color: #006633;
        }
        .row:last-child{
          transform: translateY(25px);
        }
      }
    }
  }
}



.fullcalendar-day-view{
  width: 1116px;
/*
// header
  .fc-scrollgrid-sync-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    a.fc-col-header-cell-cushion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 141px;
      height: 72px;
      background: #B1DDC4;
      border-radius: 50px;

      margin: 17px 0px;
      font-family: Chivo;
      font-style: normal;
      font-weight: normal;
      font-size: 17.7931px;
      line-height: 39px;

      text-align: center;
      letter-spacing: 0.741379px;

      color: #006633;
      }
    }
    .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
      display: none;
    }
    .fc-view-harness.fc-view-harness-active{
      .fc-timegrid.fc-timeGridDay-view.fc-view{
        table.fc-scrollgrid.fc-scrollgrid-liquid{
          border: none;
          thead{
            *{
              border: none !important;
              outline: none !important;
              overflow: hidden !important;
            }
          }
          tbody{
            *{
              background-color: white;
              border: none;
              overflow: visible;
              outline: none;

            }
            tr.fc-scrollgrid-section.fc-scrollgrid-section-body{
              td{
                .fc-scroller-harness{
                  .fc-scroller{
                    .fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural{
                      display: none;
                    }
                  }
                }
              }
            }
            tr.fc-scrollgrid-section{
              td.fc-timegrid-divider.fc-cell-shaded{
                display: none;
              }
            }
//-----------------------------------------------
            tr.fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid{

              td{
                .fc-scroller-harness.fc-scroller-harness-liquid{
                  .fc-scroller.fc-scroller-liquid-absolute{
                    .fc-timegrid-body{
                      .fc-timegrid-slots, .fc-timegrid-cols{
                        table{
                          colgroup{
                            col{
                              width: 69px !important;
                            }
                          }
                          tbody{
                            tr{
                              td.fc-timegrid-slot.fc-timegrid-slot-label.fc-scrollgrid-shrink{
                                .fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame{
                                  margin-right: 20px;
                                  .fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion{
                                    font-family: Roboto;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 16px;
                                    /* identical to box height, or 123% */
                                 /*   transform: translateY(-9px);

                                    display: flex;
                                    align-items: center;
                                    padding-left: 10px;
                                    /* SötétZöld */
/*
                                    color: #006633;
                                  }
                                }
                              }
                              td.fc-timegrid-slot.fc-timegrid-slot-lane{
                                height: 24.47px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }




          }
        }
      }
    }


*/
  }

