@use '../../../assets/constants' as c;

::ng-deep{
  .ignore-bcg{
    @include c.ZIndex(100);
    @include c.positionTopRightBotLeft(absolute,85px,0,0,-0.1%);
    background: linear-gradient(0deg, #1E2025, #1E2025);
    opacity: 0.4;
    height: calc(100% + 85px);
  }
  .delete-event.mat-card{
    @include c.ZIndex(100);
    @include c.displayFlexCenter;
    @include c.positionTopRightBotLeft(fixed,calc(50% - 111px/2),calc(50% - 300px/2));
    padding: 0;
    width: 300px ;
    height: 111px ;
    background: c.$Fehér;
    border-radius: 10px;
    .mat-card-title{
      @include c.alataNormal_fs_ls_lh_fw;
      @include c.orderMarginTopMrightMbotMleft(0,16.5px,0,16.5px,0);
      @include c.positionTopRightBotLeft(static,19.61%,6.25%,33.33%,6.25%);
      color: c.$SötétZöld;
    }
    .mat-card-actions{
      padding: 0;
      @include c.displayFlexCenter(row);
      button{
        @include c.displayFlexCenter;
        @include c.positionTopRightBotLeft(static,0,0,0,0);
        @include c.orderMarginTopMrightMbotMleft(0,0,10px,0,0px);
        width: 77px;
        height: 32px;
        background: c.$SötétZöld;
        border: 1px solid c.$Light;
        box-sizing: border-box;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        justify-content: center;
        &:nth-child(2){
          @include c.orderMarginTopMrightMbotMleft(1,0,0,0,10px);
          width: 76px;
          height: 32px;
          box-sizing: border-box;
          left: 177.5px;
          top: 0px;
          background: c.$Light;
          border: 1px solid c.$SötétZöld;
          border-radius: 8px;
          .mat-button-wrapper{
            color:c.$SötétZöld;
            }
          }
        .mat-button-wrapper{
          @include c.workSansNormal_fs_ls_lh_fw();
          @include c.orderMarginTopMrightMbotMleft;
          @include c.positionTopRightBotLeft(static,9px,24px,9px,24px);
          text-align: center;
          text-transform: uppercase;
          font-feature-settings: 'pnum' on, 'lnum' on;
          color: c.$Light;
        }
      }
    }
  }
  .stop-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}




