<full-calendar
class="calendar-mid"
[options]="calendarOptions">
</full-calendar>

<span *ngIf="eventwindow;then eventWindowOpen"></span>
<ng-template #eventWindowOpen>
  <app-event-window
    [openWindowInfo]="selectEvent"
    (closeEventWindow)="eventwindow=false"
  ></app-event-window>
</ng-template>

<span *ngIf="moreEventWindow;then moreEventWindowOpen"></span>
<ng-template #moreEventWindowOpen>
  <app-more-event-window
    [openWindowInfo]="moreEventWindowInfo"
    (closeBtnClick)="moreEventWindow=false"
    ></app-more-event-window>
</ng-template>




